@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('iconfont.woff2') format('woff2'),
        url('iconfont.woff') format('woff'),
        url('iconfont.ttf') format('truetype'),
        url('iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
  }

.icon-icon161603:before {
  content: "\e62b";
}

.icon-dianshiji:before {
  content: "\e633";
}

.icon-bingxiang:before {
  content: "\e643";
}

.icon-kuzi:before {
  content: "\e629";
}

.icon-wugui:before {
  content: "\e501";
}

.icon-xiyiji:before {
  content: "\e66a";
}

.icon-mantou:before {
  content: "\e588";
}

.icon-arrow-right:before {
  content: "\e515";
}

.icon-youjiankuohao:before {
  content: "\e656";
}

.icon-miantiao:before {
  content: "\e623";
}

.icon-gouwuche:before {
  content: "\e634";
}

